 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Manrope:wght@200..800&family=Miniver&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,300;0,400;0,600;0,800;1,300&display=swap');

@import "tailwindcss";

* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  cursor:none;
}

@theme {
  --color-primary: #5044E5;
}

/* Enable class-based dark mode */
@variant dark (&:is(.dark *));

/* Hide scrollbar ONLY where applied */
.no-scrollbar {
  -ms-overflow-style: none;   /* IE & Edge */
  scrollbar-width: none;      /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}
